// Social Media

table.button.facebook table td {
	background: #3B5998 !important;
	border-color: #3B5998;
}

table.button.twitter table td {
	background: #1daced !important;
	border-color: #1daced;
}

.wrapper.secondary {
	background: #f4f6f8;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.callout {
	p {
		margin-bottom: 10px;
	}
}

.read-more ul {
	list-style-type: none;
	-webkit-padding-start: 0;
}

.large.expand.success.rounded {
	margin: 32px 0;
}
