<wrapper class="secondary">
  <spacer size="32"></spacer>
  <row>
    <columns large="6">
      <h5>Connect</h5>
      <button class="facebook expand rounded" href="https://www.facebook.com/bestowinc/">Facebook</button>
      <button class="twitter expand rounded" href="https://twitter.com/bestowlife">Twitter</button>
    </columns>

    <columns large="6">
      <h5>Contact</h5>
      <p>
        Website: <a href="https://bestow.life">bestow.life</a><br>
        Email: <a href="mailto:howdy@bestow.life">howdy@bestow.life</a>
      </p>
    </columns>
  </row>
  <center>
    <menu>
      <item href="https://bestow.life">Terms</item>
      <item href="https://bestow.life">Privacy</item>
      <item href="https://bestow.life">Unsubscribe</item>
    </menu>
  </center>
</wrapper>
